div {
  display:block;
}

body {
  font-family: Helvetica;
  color: #000000;
  font-size:20px;
  margin: 0px 0px 0px 0px;
  }

h2 {
font-size: 20px;
font-weight: bold;
}

#container{
  width: 950px;
  margin: auto;
}

/* Navigation Items*/

#header{
  background: #FFFFFF;
  width: 950px;
  height: 60px;
  position: fixed;
  border-top-color: #9933FF;
  border-top-style: solid;
  border-top-width: 4px;
  }

#logo{
  float: left;
  width: 350px;

}

#navicons {
float: right;
position: relative;
top: 15px;
}


nav a {
  padding: 20px;
}

nav img{
  width:24px;
  height: 24px;
}


/*Intro*/

h1 {
  font-size: 84px;
  font-weight: bold;
  padding: 3px 0px;
  text-transform: uppercase;
  text-align: center;
}
.intro p{
  margin: 55px 75px;
}


/*Guidelines */

.rowG {
height: 150px;
background: #68DBC0;
}

.col{
  width: 400px;
}

.short{
  width: 920px;
  background:#9933FF;
  margin: 10px 0px 10px 10px;
  padding: 5px;
  z-index: auto;

}

.long {
  width:65%
  margin: 10px;
  padding: 5px;
}

.Guidelines ul{
  list-style-image:url('http://i61.tinypic.com/116qnno.png');
}

.Guidelines li{
margin-bottom: 2px;
}


/*Grid */

.row { height: 300px;
 }

.box {
  width:300px;
  height: 300px;

}

.box:hover{
  opacity:.6;
}

.blue {
background: #00CCFF;
position: relative;
left: 0px;
top: 0px;}

span.text-content{
  text-align:center;
  opacity:0;
  font-size: 105px;
  text-transform: uppercase;
  font-weight: 5px;
  text-align: center;
  font-family: futura;
  padding: 15px;

}

.box:hover span.text-content{
  opacity:1.0;
}

.green {
background: #66FF33;
position: relative;
left: 325px;
top: -300px;
}

.coral {
background: #FF5050;
position: relative;
left: 650px;
top:-600px;
}

/*footer*/
footer {
  background-color: black;
  color: white;
  font-size: 10px;
  font-style: italic;
  height: 25px;
  padding: 5px;
}
